/* Global Styles */

:root {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #f4f4f2;
    --secondary-color: #FFE6C7;
    --background-color: #B7B7B7;
    --text-color:  #0f0f0f;
    --title-color: #d76851;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3 {
    color: var(--text-color);
    font-weight: 600;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--title-color);
}

/* Header Section */
header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 100%;
}

#nav .menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#nav .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 2px;
    align-items: flex-end;
    justify-content: space-around;
}

#nav .hamburger span {
    width: 30px;
    height: 6px;
    background-color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: var(--text-color);
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: var(--title-color);
}

/* Home Section */
#home {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 5rem 1rem;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.5rem;
}

/* About Section */
#about {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 4rem 1rem;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--text-color);
}

#about p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.fa-brands {
    font-size: 4rem;
    padding: 1rem;
}

.fa-solid {
    font-size: 2rem;
    padding: 1rem;
}

#about img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 1rem;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 6px 12px var(--background-color);
}

/* Projects Section */
#projects {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.pdf-container {
    margin-bottom: 3rem;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
    max-width: 100%;
}

.pdf-container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

iframe {
    border: none;
    border-radius: 8px;
    max-width: 768px;

}

iframe:hover {
    box-shadow: 0 4px 10px var(--background-color);
}

/* Work Experience Section */

#experience {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
}

/* Footer Section */
footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 2rem 1rem;
    text-align: center;
}

footer p {
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer ul li a {
    color: var(--text-color);
    font-size: 1.2rem;
}

footer ul li a:hover {
    color: var(--title-color);
}

/* Mobile Styles */
@media  (max-width: 768px) {
    header {
        padding: 1rem;
    }

    #nav .menu {
        display: none;
        flex-direction: column;
    }
    
    #nav .hamburger {
        display: flex;
        margin: 0;
        padding: 0;
    }

    #nav.active .menu {
        display: flex;
    }

    nav ul {
        gap: 1rem;
        align-items: center;
        
    }

    nav li {
        margin: 5px 0;
    }

    #home h1 {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 1.2rem;
    }

    .profile{
        flex-direction: column;
        align-items: center;
    }

    .profile-photo{
        margin-bottom: 15px;
        width: 120px;
        height: 120px;
    }

    .project-gallery {
        grid-template-columns: 1fr;
    }

    form {
        width: 100%;
    }

}

/* Font Family */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }  
